/* CURRENTLY IN: styles/main.css */

html, body {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

.container-narrow {
    width: 50%;
}

.container-full {
    width: 100%;
}

.row {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    border: 1px solid blue;

    background-color: yellow;
}

.column {
    float: left;
    box-sizing: border-box;

    min-height: 100%;
}

.column-one-third {
    width: 33.3333%;

    background-color: pink;
}

.column-two-third {
    width: 66.66663%;

    background-color: black;
}

.column-one-half {
    width: 50%;

    background-color: pink;
}

.column-one-quarter {
    width: 25%;

    background-color: red;
}

.column-green {
    background-color: green;
}

